body{
    font-family: 'Lora', serif;
    }

body{
    background-position: center;
    background-image: url("heropose.jpg");
    background-size: cover ;
    background-repeat:no-repeat;
    height: 100%;
    }

.btn-primary{
    background-color:goldenrod;
    margin-left:675px;
    margin-top:5px;
    font-size: 20px;
}

h1{
    font-weight:bolder;
    color:white;
    text-align: center;
    font-size:50px;
    margin-top:420px;
}

p{
    text-align:center;
    margin-top:50px;
    color:white;
    
}

